streamlit==1.46.1
ultralytics==8.3.169
torch==2.7.1
torchvision==0.22.1
transformers==4.53.0
opencv-python-headless==4.10.0.84
plotly==6.2.0
pillow==11.3.0
matplotlib==3.10.3
pandas==2.3.0
numpy==2.2.6
scikit-learn==1.7.0
pyyaml==6.0.2